body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  background-color: white !important;
    /* background-image: linear-gradient(315deg, hsl(254, 59%, 20%) 0%, #f0dab3 52%); */
    /* background-image:white !important; */
  
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(231, 7, 7, 0.12), 0 4px 8px rgba(0,0,0,.06);
}



